
#rick-pic {
    border-radius: 50%;
    border: 8px solid hsl(114, 77%, 49%);
    width: 100px;
    height: 100px;  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }
.git-btn {
    border: 5px solid black;
}

.buttons {
    width: 100%;
    max-width: 300px;
    margin: 24px auto;
  }
  .button-link {
    display: block;
    width: 100%;  /* This should match the artboard width */
    height: 60px; /* This should match the artboard height */
  }