
#rick-pic {
    border-radius: 50%;
    border: 8px solid hsl(114, 77%, 49%);
    width: 100px;
    height: 100px;  
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
 }
.git-btn, .linkedin-btn {
    border: 5px solid black;
}



.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 300px;
  margin: 24px auto;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    /* Remove any max-width constraints if present */
  }
  