body{
    font-family: Inter;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);
}
.modal-box{
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    height: 540px;
    border-radius: 10px;
    margin: 7px;
    padding: 17px;
}
h1 {
    color: #ffffff;
    font-weight: 700;
}
h3 {
    color: #ffffff;
    font-weight: 400;
}

.h3green{
    color: hsl(75, 94%, 57%);
}
button{
    color: #ffffff;
    background-color: hsl(0, 0%, 20%);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin: 7px;

}